div
{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-image: url("Nature.jpg");
    background-size: cover;
    color: white;
    position: fixed;
    right: 20px;
    top: 20px;
}
body
{
    background-color: pink;
    color: blue;
}